# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually creates a /dist/ and /build/ folder
dist/
build/

# Virtual environments
env/
venv/
ENV/
VENV/
.venv/
.ENV/
.venv.bak/
venv.bak/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Pyre type checker
.pyre/

# pytype static type checker
.pytype/

# mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Profiling data
.prof

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# MacOS
.DS_Store

# Linux
.Trash-*
